.custom-btn {
    background-color: #8a7336 !important;  
    color: white !important;               
    border: 1px solid #8a7336 !important; 
}

.custom-btn:hover {
    background-color: #594b24 !important;  
    border-color: #594b24 !important;
}