/* Search Results Card Styles */
#searchResults .card {
    margin-bottom: 20px;
}

/* Book List Container */
.book-list-container {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
}

/* Book Card Styles */
.book-card {
    flex: 0 0 auto;
    width: 18rem;
    word-wrap: break-word;
    overflow: hidden;
}

/* Card Body and Text Styles */
.card-body {
    max-height: 200px;
    overflow: hidden;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

/* Custom Button Styles */
.custom-btn {
    background-color: #8a7336 !important;  
    color: white !important;               
    border: 1px solid #8a7336 !important; 
}

.custom-btn:hover {
    background-color: #594b24 !important;  
    border-color: #594b24 !important;
}

/* Custom Background */
.custom-bg {
    background-color: #8a7336 !important;  
}

/* See More Button (RnV) Styles */
.RnV {
    color: black !important;               
    border: 0px solid black !important; 
}

.RnV:hover {
    background-color: black !important;  
    border-color: black !important;
    color: white !important;
}

/* Custom Text Color */
.text-color-cus {
    color: #594b24 !important;
}
